<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--    package="com.cam.scanner.scantopdf.android">-->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" /> <!-- Features for Google Play -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.OcrTranslateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CaptureImagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.OfferActivity" />
        <activity android:name=".db.SharedPrefsActivity" />
        <activity
            android:name=".activities.AskEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".activities.OcrMonthlyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChoosePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PremiumActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.CurrentPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service android:name=".receiver.IPFetcher" />

        <activity
            android:name=".activities.AdFreeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Activity"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            tools:ignore="LockedOrientationActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Activity"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".activities.OcrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Activity"
            tools:ignore="LockedOrientationActivity" />
        <!--
 <activity
             android:name=".activities.BarCodeScanActivity"
             android:screenOrientation="portrait"
             android:theme="@style/AppTheme.Activity"
             tools:ignore="LockedOrientationActivity" />
        -->
        <activity
            android:name=".activities.ScanResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.DocumentsListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.FavoriteDocumentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OcrPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OcrResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Activity"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />

        <!--<provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="smartrt.phonecleaner.sharefiles.docscanner.fileprovider;smartrt.phonecleaner.sharefiles.docscanner.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource"/>
        </provider>-->

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ProductTourActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RateAppActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".barcodereader.BarcodeReaderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BarCodeResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
<activity
            android:name=".activities.WaterMarkRemoveActivity"
            android:theme="@android:style/Theme.Dialog" />
        -->
        <activity
            android:name=".activities.WaterMarkRemoveActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activities.SignatureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignaturePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ImagePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelectedImagesListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CropImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ImageCropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- admob app id -->
        <!--<meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />-->

        <!--<service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false"
            android:permission="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,barcode" />-->

        <activity
            android:name=".pdf.PdfReaderActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter android:scheme="http">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pdf.PdfEditorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pdf.PdfSignatureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--<activity
            android:name=".pixelnetica.camera.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme" />-->
        <activity
            android:name=".db.AndroidDatabaseManager"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".dialogs.OcrPlanDialog"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".dialogs.OcrChoosePlanDialog"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <!--<provider
            android:authorities="smartrt.phonecleaner.sharefiles.docscanner.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>-->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />
    </application>

</manifest>
