<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.utilify.boost.cleaner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:name=".AppApplication">
        <activity
            android:exported="false"
            android:screenOrientation="portrait"
            android:name=".activity.SettingsMainActivity" />
        <activity
            android:exported="false"
            android:screenOrientation="portrait"
            android:name=".activity.ReferFriendActivity" />
        <activity
            android:exported="false"
            android:screenOrientation="portrait"
            android:name=".activity.UsefullScreenActivity" />
        <activity
            android:exported="false"
            android:screenOrientation="portrait"
            android:name=".activity.AboutUsScreenActivity" />
        <activity
            android:exported="false"
            android:screenOrientation="portrait"
            android:name=".activity.UniScanDashboardActivity" />
        <activity
            android:exported="true"
            android:screenOrientation="portrait"
            android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.advanced.phone.junk.cache.cleaner.booster.antimalware.notificationmanager.NLService"
            tools:node="remove" />
        <receiver
            android:name="com.itl.commonres.utils.InstallationReceiver"
            tools:node="remove" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider;${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!--
<meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AD_MOB_APP_ID" />

        <service
            android:name="com.utilify.boost.cleaner.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:exported="false"
            android:name=".activity.TutorialActivity" />

    </application>

</manifest>
